# Environment config

# Please specify everything for your bot

# Note: .env is a shell file, so the can't be spaces around =

PREFIX=*
BOT_TOKEN=ODQ0NzEwMjE1NTU4ODg5NTAz.YKWXsQ.9aFAWqfu3FJSomJlJuUVeqf6YKI
YTAPI_KEY=AIzaSyAuVS6l3p3LkOGGvfjac0GADlQ3noJ2RbM
PROJECT_DOMAIN=
